<h1>Edit existing article</h1>

<% if @article.errors.any? %>
<h4>Following errors led to failure of update article: </h4>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>