<!-- Page Content -->
<div class="container">

  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="about">
    <%= image_tag("photo.jpg", class: "featurette-image img-circle img-responsive pull-right") %>
    <h2 class="featurette-heading">This Website is developed by
      <span class="text-muted">Pareekshith K J</span>
    </h2>
    <p class="lead">Pareekshith is a budding web-developer. He is very enthusiastic in learning new technologies and using them in his projects. Follow him on Facebook.</p>
  </div>

  <hr class="featurette-divider">

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Alpha-blog 2016</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->